.gridContainerP {
    display: flex;
    flex-direction: column;
    padding: 20px 0 50px 0;
}
.flexP {
    display: flex;
    flex-direction: row;
    gap: 21px;
    flex-wrap: wrap;
}

.flexItem {
    border-radius: 5px;
}
.flexItem img {
    border-radius: 6px;
}