.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.slider p {
  color: #ff39b0;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
  /* identical to box height */

  letter-spacing: -0.05em;
}
